<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="yandex-verification" content="0dab96d28535e3d5" />
<head>
    <meta charset="UTF-8">
    <meta name="yandex-verification" content="0dab96d28535e3d5" />
    <title>Курер документа</title>

    <link th:rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Документы</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/courier">Курер документа<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/korres">Корреспонденд</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gni">ГНИ </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tsj">Тсж</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cb">Сб</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 offset-4">
            <h4>Курер документа</h4>
            <form th:action="@{/courier/save}" id="courierForm" th:object="${courier}"  method="post">

                    <label for="courierName">Курер</label>
                    <input type="text" th:field="*{courierName}" class="form-control"  id="courierName" name="courierName" required placeholder="Курер">
                    <span class="text-danger" th:if="${#fields.hasErrors('courierName')}" th:errors="*{courierName}"></span>

                <br/>

                    <label for="mail">E-mail</label>
                    <input type="text" th:field="*{mail}" class="form-control"  id="mail" name="mail" required placeholder="E-mail Документ">
                    <span class="text-danger" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></span>

                <br/>
                <br/>

                    <label for="telefonogramma">Телефонограмма</label>
                    <input type="text" th:field="*{telefonogramma}" class="form-control"  id="telefonogramma" name="telefonogramma"  required placeholder="Телефонограмма">
                    <span class="text-danger" th:if="${#fields.hasErrors('telefonogramma')}" th:errors="*{telefonogramma}"></span>
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <td><a class="btn btn-warning" href="/courier">Закрыть</a></td>
            </form>
        </div>
    </div>
</div>



</body>
</html>