<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ГНИ</title>

    <link th:rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Документы</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/courier">Курер <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/korres">Корреспонденд</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gni">ГНИ </a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 offset-4">
            <h4>ГНИ</h4>
            <form th:action="@{/gni/save}" id="gniForm"   method="post">

                <label for="gniName">ГНИ</label>
                <input type="text" class="form-control"  id="gniName" name="gniName" required placeholder="ГНИ ">

                <label for="gniDate" class="mt-2">дата исходящий документа</label>
                <input type="date" class="form-control" id="gniDate" name="gniDate" placeholder="Дата регистрации ГНИ">

                <br/>

                <button type="submit" class="btn btn-primary">Сохранить</button>
                <button onclick="window.print()" class="btn btn-primary">print</button>
                <td><a class="btn btn-warning" href="/gni">Закрыть</a></td>
            </form>


        </div>
    </div>
</div>



</body>
</html>